html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

body {
  display: flex;
  font-family: sans-serif;
  line-height: 1.42857143;
  color: rgb(238, 229, 229);
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 604px;
  top: 0;
  left: calc(50% - 375px / 2);
  background-color: #e5e5e5;
}

.main-nav {
  overflow: hidden;
  background-color: #6070ff;
  position: relative;
  z-index: 1;
  color: #f7f7f9;
}

.mylogo {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.main-nav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.main-nav a.icon {
  display: block;
  position: absolute;
  color: #6070ff;
  right: 0;
  top: 20px;
}

.active {
  background-color: #f7f7f9;
  color: #6070ff;
  font: bold;
  font-size: 30px;
  width: 375px;
  height: 50px;
  top: auto;
  font-weight: 900px;
}

.main {
  position: relative;
  overflow: hidden;
  min-height: 4810px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
}

.nav-flex {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 15px;
  display: flex;
  flex-direction: column;
  background: url(./img/backgroung_image.png) no-repeat;
}

.title-main {
  display: flex;
  align-items: center;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 9px 0;
}

.name-text {
  overflow: visible;
  margin-top: 80px;
  margin-bottom: 0;
  font: 700 40px/1.3 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.sub-text {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 35px 9px 0;
  bottom: 50px;
  font: 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
  font-weight: 400;
}

.mini-text {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 9px 0;
  bottom: 40px;
  font: 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #7f8cff;
  letter-spacing: 0;
}

.social-media {
  display: flex;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 40px;
  margin: 12px 9px 120px;
}

.social-media-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.media-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170.17px;
  height: 20px;
}

.fa {
  text-decoration: none;
  font-size: 30px;
  color: #505f79;
}

.fa:hover {
  opacity: 0.7;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
}

.work-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card-head {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px 16px 16px 16px;
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 114px 24px 0;
}

.Work-card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
}

.Work-card-img {
  background: url(./img/Work-card.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  height: 220px;
}

.Work-card-img2 {
  background: url(./img/WorkCard1.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  height: 220px;
}

.Work-card-img3 {
  background: url(./img/WorkCard2.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  height: 220px;
}

.Work-card-img4 {
  background: url(./img/WorkCard3.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  height: 220px;
}

.work-card-title {
  font: 700 32px/1.37 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.work-card-dot {
  display: flex;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.card-text-main {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.card-text-main :hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.work-card-dot-s {
  flex: 0 1 11px;
}

.work-card-dot-em {
  flex: 0 1 12px;
}

.work-card-dot-em2 {
  flex: 0 1 10px;
}

.work-card-dot-list {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.card-icon {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
  position: relative;
  height: 8px;
  width: 8px;
  min-width: 8px;
  margin: 4px 0;
}

.card-subtext {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0 0;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 180px;
  margin: 12px 0;
  order: 0;
  flex-grow: 0;
}

.item {
  padding: 4px 12px;
  text-align: center;
  position: static;
  width: 65px;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.card-button {
  display: flex;
  flex-direction: column;
  border: 1px solid #3648f3;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  width: 124;
  margin: 24px 45.97% 12px 0%;
}

.card-button:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  height: 60px;
  background-color: #fff;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  border: 1px solid #3648f3;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 180px;
  margin-top: 20px;
  background-color: #fff;
}

.button2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.button1:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme {
  display: flex;
  flex-direction: column;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Aboutme-head {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 90px 0 0;
  border-radius: 0 90px 0 0;
}

.Aboutme-body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 24px;
  padding: 10px 10px;
}

.main-title {
  display: flex;
  align-items: center;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.body-title {
  overflow: visible;
  margin-top: 0;
  margin-bottom: 0;
  font: 700 40px/1.3 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.About-text {
  font: 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10.5px 0 0;
}

.mini-text-abt {
  font: 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #7f8cff;
  letter-spacing: 0;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.abt-social-media {
  background: var(--src) center center/contain no-repeat;
  position: relative;
  height: 40px;
  width: 61.16%;
  margin: 16px 38.84% 0 0%;
}

.progrm-stack {
  display: flex;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 48px 12px 0;
  align-items: center;
}

.Aboutme-subtitle {
  display: flex;
  align-items: center;
  font: 500 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0;
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  line-height: 24px;
}

.progrm-stack1 {
  flex: 0 1 132px;
}

.progrm-stack-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 14px;
}

.arrow-img {
  background: url() center center/contain no-repeat;
  font-size: 30px;
}

.arrow-image {
  width: 10px;
  height: 10px;
}

img:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.all-stack {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 8px 8px 8px 8px;
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 36px 12px 0;
}

.all-stack:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.stack-body {
  display: flex;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 9px 12px;
}

.stack-body-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 48px;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.stack-icon {
  background: url() center center/contain no-repeat;
  position: relative;
  height: 48px;
  width: 48px;
  min-width: 48px;
  margin: 0 0 1px;
}

.stack-body-s {
  flex: 0 1 16px;
}

.stack-type {
  display: flex;
  align-items: center;
  font: 500 15px/1.33 "Poppins", Helvetica, Arial, serif;
  color: #253858;
  letter-spacing: 0;
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 140px 15px 0;
}

.stack-type:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.framework {
  display: flex;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 36px 12px 0;
  align-items: center;
}

.framework-spacer {
  flex: 0 1 139px;
}

.framework-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Aboutme-image {
  background: var(--src) center center/contain no-repeat;
  position: relative;
  height: 14px;
  width: 8px;
  min-width: 8px;
  margin: 5px 0;
}

.Abt-border {
  background-color: #dfe1e6;
  position: relative;
  height: 1px;
  margin: 23px 0 0;
}

.framewor1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 12px 0;
}

.framework-spacer1 {
  flex: 0 1 213px;
}

.Aboutme-border {
  position: relative;
  height: 1px;
  margin: 23px 0 139.5px;
}

.contact-container {
  padding: 103px 24px 0 24px;
  background-image: url("img/contact-form-shapes-mobile.svg");
  background-color: #6070ff;
  background-size: 65% 99%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 15px;
  z-index: -1;
}

.contact-container .intro-text {
  text-align: center;
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.contact-container p {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 30px;
}

.contact-container input,
textarea {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  border-color: transparent;
  color: black;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-container input {
  font-size: 17px;
  line-height: 20px;
}

.contact-container textarea {
  height: 170px;
  font-size: 15px;
  line-height: 24px;
}

.contact-container button {
  display: flex;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  letter-spacing: 0.51px;
  border: 1px solid #3648f3;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  background-color: #fff;
}

button:hover {
  background-color: #1242c6;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}
